<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>restaurantDescriptions</key>
	<array>
		<string>From that day forward, local customers and visitors to Hawai&apos;i have lined up to enjoy the healthy offerings of locally grown Hawaiian fruits and vegetables, gourmet meats and cheeses and delectable home-made dressings.</string>
		<string>Our contemporary style of blending local island favorites with Asian cuisine creates a unique dining experience. Enjoy our seasonal menu and handcrafted cocktails in a fun and casual setting. DB Grill is our tribute to what Hawaii loves to eat and drink.</string>
		<string>Gyu-Kaku provides the authentic Japanese Barbecue dining experience where customers share premium cooked meats over a flaming charcoal grill.</string>
		<string>Genki Sushi is committed to improving the quality in everything we do from the speed in which we deliver our food, the taste of our sushi and the freshness of the produce we use, to our level of service and the atmosphere in our restaurants. </string>
		<string>Shopping-center Asian kitchen with a wide selection of sushi served on a rotating conveyor belt.</string>
		<string>Simple conveyor-belt sushi restaurant offering classic rolls &amp; Japanese eats in an informal setting.</string>
	</array>
	<key>restaurantImages</key>
	<array>
		<string>alohaSalads</string>
		<string>dbGrill</string>
		<string>gyuKaku</string>
		<string>genkiSushi</string>
		<string>kazokuSushi</string>
		<string>sushiBay</string>
	</array>
</dict>
</plist>
